<html>
    <body>
        <form action="/auth/register" method="POST">
            <input type="text" name="first_name" placeholder="First Name" required />
            <input type="text" name="last_name" placeholder="Last Name" required />
            <input type="email" name="email" placeholder="Email" required />
            <input type="password" name="password" placeholder="Password" required />
            
            <label>Sexe:</label>
            <input type="radio" name="sexe" value="0" required /> Male
            <input type="radio" name="sexe" value="1" required /> Female

            <input type="text" name="tel" placeholder="Phone Number" required />
            <input type="text" name="family_status" placeholder="Family Status" required />
            <input type="text" name="CIN" placeholder="CIN" required />
            <input type="text" name="doti" placeholder="DOTI"/>

            <button type="submit">Register</button>
        </form>
    </body>
</html>
