<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/style.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/2775dde967.js" crossorigin="anonymous"></script>
</head>
<body>
  <!--header-->
  <header>
    <nav class="navbar">
      <a href="#hero" class="nav-logo">
        <h2 class="nav-title">Med<span>Access</span></h2>
      </a>
      <ul class="nav-menu">
        <li class="nav-item"><a href="#hero" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#advices" class="nav-link">Health Tips</a></li>
        <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#footer" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="login" class="nav-link">Login</a></li>
      </ul>
    </nav>
  </header>
  <main>

    <!-- Hero Section -->
  <section class="hero" id="hero">
    <div class="hero-container">
      <div class="hero-content">
        <h1>Welcome To your Trusted Health Record Platform</h1>
        <p>One place for your entire health journey</p>
      </div>
      <div class="hero-image">
        <img src="images/banner.png" alt="Doctor Image">
      </div>
    </div>
  </section>

  <!-- Advices Section -->
  <section class="healthcare-insights" id="advices">
    <div class="insights-container">
      <h2>Healthcare Insights</h2>
      <p>Stay informed with the latest tips and advice for better health and wellness.</p>
      <div class="insight-cards-wrapper">
      <!-- Article 1 -->
      <div class="insight-card">
        <h3>Building Stronger Bones: 7 Essential Tips</h3>
        <p>Discover actionable steps to enhance your bone density, including dietary recommendations, exercise routines, and lifestyle modifications to maintain robust skeletal health. Learn the importance of calcium-rich foods, weight-bearing exercises, and the role of vitamin D in bone maintenance. </p>
        <a href="https://www.health.com/how-to-build-bone-density-8787545" class="read-more" target="_blank">Read More</a>
      </div>

      <!-- Article 2 -->
      <div class="insight-card">
        <h3>Debunking Common Health Myths: Insights from a Cardiologist</h3>
        <p>Gain clarity on prevalent health myths circulating online, as a seasoned cardiologist addresses misconceptions about salt intake, cholesterol management, and more, guiding you toward informed health decisions.</p>
        <a href="https://nypost.com/2025/02/21/health/im-a-cardiologist-5-of-the-biggest-healthcare-lies-on-tiktok/" class="read-more" target="_blank">Read More</a>
      </div>

      <!-- Article 3 -->
      <div class="insight-card">
        <h3>Effective Communication with Your GP: A Patient's Guide</h3>
        <p>Learn strategies to ensure your concerns are heard during medical consultations, including how to articulate symptoms clearly and advocate for your health needs effectively.</p>
        <a href="https://www.thetimes.com/life-style/health-fitness/article/how-to-get-what-you-want-from-your-gp-jj8jcv8ff?region=global" class="read-more" target="_blank">Read More</a>
      </div>
    </div>
  </div>
  </section>

  <!-- About Us Section -->
  <section id="about" class="about">
    <div class="about-container">
      <h2>About MedAccess</h2>
      <p>
        MedAccess is a platform designed to make managing and accessing your health records easier. 
        Whether you're keeping track of your medical history, prescriptions, or doctor visits, MedAccess 
        brings everything you need to one place. Our mission is to empower patients with easy access to 
        their health data and help them make informed decisions.
      </p>
    </div>
  </section>
  </main>

  <footer class="footer" id="footer">
    <div class="footer-content">
      <div class="social-links">
        <h3>Follow Us</h3>
        <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="contact-info">
        <h3>Contact Us</h3>
        <p><i class="fa-solid fa-envelope"></i><a href="mailto:MedAccess@gmail.com">MedAccess@gmail.com</a></p>
        <p><i class="fa-solid fa-phone"></i><a href="tel:+212672562819">+212672562819</a></p>
      </div>
    </div>
    <hr>
    <p class="copyright">© 2023 MedAccess. All rights reserved.</p>
  </footer>

  <script src="assets/index.js"></script>
</body>
</html>